<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.infix.hw.CalculatorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testcalculator4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcalcualtor2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcalculator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcalculator3</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
