<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbcaba">  <td>18/03/01 23:04:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.testcalcualtor2()[pri:0, instance:com.infix.hw.CalculatorTest@217ed35e]">testcalcualtor2</td> 
  <td>main@649329985</td>   <td></td> </tr>
<tr bgcolor="fbcaba">  <td>18/03/01 23:04:57</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.testcalculator()[pri:0, instance:com.infix.hw.CalculatorTest@217ed35e]">testcalculator</td> 
  <td>main@649329985</td>   <td></td> </tr>
<tr bgcolor="fbcaba">  <td>18/03/01 23:04:57</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.testcalculator3()[pri:0, instance:com.infix.hw.CalculatorTest@217ed35e]">testcalculator3</td> 
  <td>main@649329985</td>   <td></td> </tr>
<tr bgcolor="fbcaba">  <td>18/03/01 23:04:57</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTest.testcalculator4()[pri:0, instance:com.infix.hw.CalculatorTest@217ed35e]">testcalculator4</td> 
  <td>main@649329985</td>   <td></td> </tr>
</table>
